*:focus {
    outline: dashed 2px #d50949 !important; 
    border: dashed 2px #d50949 !important;
}

/* exemple de réactivation de focus sur materialize
.btn, .btn-flat, .btn-floating, .btn-large {
    outline: inherit;
}
*/