/* On liste balises et attributs pour détecter les thématiques applicables */
html {
    counter-reset: thematique1-img thematique1-canvas thematique1-embed thematique1-object thematique1-svg thematique1-longdesc thematique1-figure thematique1-map thematique1-area thematique2 thematique4 thematique5 thematique7-1 expand thematique7-5 lang dir citations current hidden-content thematique11-form thematique11-regroupement aria-group bureautique;
}

body::after {
    column-count: 2;
    column-gap: 10px;
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 0.75rem/1.45 sans-serif !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "BALISES & ATTRIBUTS\A\ATHÉMATIQUE 1\A" 
        counter(thematique1-img) " img ou role img,\A" 
        counter(thematique1-longdesc) " [longdesc],\A" 
        counter(thematique1-svg) " svg,\A" 
        counter(thematique1-embed) " embed,\A" 
        counter(thematique1-object) " object,\A" 
        counter(thematique1-canvas) " canvas,\A" 
        counter(thematique1-figure) " figure,\A" 
        counter(thematique1-map) " map,\A" 
        counter(thematique1-map) " area\A\ATHÉMATIQUE 2\A" 
        counter(thematique2) " iframe\A\ATHÉMATIQUE 4\A" 
        counter(thematique4) " balises video/audio\A\ATHÉMATIQUE 5\A" 
        counter(thematique5) " table\A\A\ATHÉMATIQUE 7\A" 
        counter(thematique7-1) " roles ARIA,\A"
        counter(expand) " [aria-expanded],\A"
        counter(thematique7-5) " [aria-live]\A\ATHÉMATIQUE 8\A"
        counter(lang) " [lang],\A"
        counter(dir) " [dir]\A\ATHÉMATIQUE 9\A"
        counter(citations) " citations\A\ATHÉMATIQUE 10\A" 
        counter(hidden-content) " [hidden] ou [aria-hidden],\A" 
        counter(current) " [aria-current]\A\ATHÉMATIQUE 11\A" 
        counter(thematique11-form) " champs de formulaires,\A" 
        counter(thematique11-regroupement) " fieldset,\A" 
        counter(aria-group) " role group\A\ATHÉMATIQUE 13\A" 
        counter(bureautique) " fichiers bureautique" !important;
}

img,
[role="img"] {
    counter-increment: thematique1-img;
}

canvas {
    counter-increment: thematique1-canvas;
}

embed {
    counter-increment: thematique1-embed;
}

object {
    counter-increment: thematique1-object;
}

svg {
    counter-increment: thematique1-svg;
}

[longdesc] {
    counter-increment: thematique1-longdesc;
}

figure {
    counter-increment: thematique1-figure;
}

map {
    counter-increment: thematique1-map;
}

area {
    counter-increment: thematique1-area;
}

iframe {
    counter-increment: thematique2;
}

audio,
video {
    counter-increment: thematique4;
}

table,
[role="table"] {
    counter-increment: thematique5;
}

[role]:not(:is([role="banner"],[role="search"],[role="navigation"],[role="main"],[role="contentinfo"])) {
    counter-increment: thematique7-1;
}

[aria-expanded] {
    counter-increment: expand;
}

[role="alert"],
[role="status"],
[aria-live] {
    counter-increment: thematique7-5;
}

[lang]:not(html) {
    counter-increment: lang;
}

[dir]:not(html) {
    counter-increment: dir;
}

q,
blockquote {
    counter-increment: citations;
}

hidden,
[aria-hidden] {
    counter-increment: hidden-content;
}

[aria-current] {
    counter-increment: current;
}

input,
select,
textarea,
datalist,
optgroup,
option,
keygen,
output,
progress,
meter {
    counter-increment: thematique11-form;
}

fieldset {
    counter-increment: thematique11-regroupement;
}

[role="group"] {
    counter-increment: aria-group;
}

a[href$=".doc"],
a[href$=".docx"],
a[href$=".xls"],
a[href$=".xlsx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".odt"],
a[href$=".ods"],
a[href$=".pdf"] {
    counter-increment: bureautique;
}