/* Tester en live au clavier et aussi avec des outils comme Taba11y ou Web ext de Tanaguru
Vérifier aussi la mise en page CSS avec float ou avec des éléments absolus.
*/

html {
    counter-reset: count-1 count0 countx;
}
body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: 'tabindex="-1" : ' counter(count-1) '\a tabindex="0" : ' counter(count0) '\a tabindex > 0 : ' counter(countx);
}

a[tabindex],
[role="link"][tabindex],
[role="button"][tabindex],
button[tabindex],
input[tabindex],
select[tabindex],
textarea[tabindex] {
    display: block;
    outline: 5px #e61441 solid !important;

}

a[tabindex="-1"],
[role="link"][tabindex="-1"],
[role="button"][tabindex="-1"],
button[tabindex="-1"],
input[tabindex="-1"],
select[tabindex="-1"],
textarea[tabindex="-1"] {
    display: block;
    outline: 5px #ad471f dashed !important;
    counter-increment: count-1;
}


a[tabindex="0"],
[role="link"][tabindex="0"],
[role="button"][tabindex="0"],
button[tabindex="0"],
input[tabindex="0"],
select[tabindex="0"],
textarea[tabindex="0"] {
    display: block;
    outline: 3px #0d1193 dotted !important;
    counter-increment: count0;
}

[tabindex="1"],
[tabindex="2"],
[tabindex="3"],
[tabindex="4"],
[tabindex="5"],
[tabindex="6"],
[tabindex="7"],
[tabindex="8"],
[tabindex="9"],
[tabindex="10"],
[tabindex="11"],
[tabindex="12"],
[tabindex="13"],
[tabindex="14"],
[tabindex="15"],
[tabindex="16"],
[tabindex="17"],
[tabindex="18"],
[tabindex="19"],
[tabindex="20"] {
    display: block;
    border: 7px #e61441 dotted !important;
    counter-increment: countx;
}

a[tabindex]:after,
[role="link"][tabindex]:after,
[role="button"][tabindex]:after,
button[tabindex]:after,
input[tabindex]:after,
select[tabindex]:after,
textarea[tabindex]:after {
    content: 'tabindex="'attr(tabindex)'"' !important;
    padding: 0.2em 0.25em;
    background-color: #e61441;
    color: #fff;
}
