html {
	counter-reset: count countb countc;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1.5rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
    content: "role=alert : " counter(count) "\a role=status : " counter(countb) "\a aria-live : " counter(countc) "\a";
}

[role="alert"]::before,
[role="status"]::before,
[aria-live]::before {
    display: block !important;
    padding: 0.25rem !important;
    font: 400 1.25rem/1.5 sans-serif !important;
    color: black !important;

}

[role="alert"] {
    counter-increment: count !important;
    border: 2px #df0f47 dashed !important;
}

[role="status"] {
    counter-increment: countb !important;
    border: 2px #358a24 dashed !important;
}

[aria-live] {
    counter-increment: countc !important;
    border: 2px #2b248a dashed !important;
}

[role="alert"]::before {
    content: "role=alert" !important;
    background: #fdc0b9 !important;

}

[role="status"]::before {
    content: "role=status" !important;
    background: #c5ffd3 !important;

}

[aria-live]::before {
    content: "aria-live" !important;
    background: #dbf0f9 !important;
}