/* On met en évidence tous les contenus injectés en CSS */

*::before,
*::after {
    border: 5px #a823af dashed !important;
    counter-increment: count !important;
}

html {
    counter-reset: count count1 count2;
}
body::after {
    background-color: #333;
    border-color: #333 !important;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "Injections CSS - - - : " counter(count) "\a";
}



