html {
	counter-reset: brbr countp;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "Risque de double br : " counter(brbr) "\a" "Risque de <p> vides : " counter(countp) "\a" ;
}


/* on fait apparaître les balises div et sémantiques vides */

div:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty{
    border: 2px #850c1a dashed !important;
}
p:empty {
    counter-increment: countp !important;
    border: 2px #8c1480 dashed !important;
}
br + br {
    counter-increment: brbr !important;
    border: 4px #2e2eb2 dashed !important;
}

/* on fait apparaître toutes les balises sémantiques de base */
/* pour isoler les passages de textes qui ne sont pas balisés */

blockquote,
q {
    border: 3px solid red!important;
}

blockquote:before {
    content: "<blockquote> "!important;
}

q:before {
    content: "<q> "!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    border: 3px rgb(255, 143, 143) solid !important;
}

p {
    border: 3px rgb(255, 143, 143) solid !important;
}

ul,
ol,
dl {
    border: 3px #70d970 solid !important;
}

li, 
dt, 
dd {
    border: 2px #70d970 solid !important;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: "<hx>";
    font-size: 0.875rem !important;
    background: rgb(255, 143, 143);
    color: black;
    display: block;
}

h1::before {
    content: "<h1>" !important;
}
h2::before {
    content: "<h2>" !important;
}
h3::before {
    content: "<h3>" !important;
}
h4::before {
    content: "<h4>" !important;
}
h5::before {
    content: "<h5>" !important;
}
h6::before {
    content: "<h6>" !important;
}
div {
    border: thin #8c1414 dotted !important;
}
div::before {
    content: "<div>" !important;
    font-size: 0.625rem !important;
    line-height: 1 !important;
    color: black;
    background: rgb(255, 143, 143);    
}

p::before {
    content: "<p>" !important;
    font-size: 0.875rem !important;
    background: #efceec;
    color: black;
    display: block;
}

ul::before,
ol::before {
    content: "<ul>" !important;
    font-size: 0.875rem !important;
    background: #70d970;
    color: black;
    display: block;
}

