html {
	counter-reset: count;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "[lang] : " counter(count) "\a";
}

body [lang] {
    counter-increment: count !important;
    border: #398c12 solid 1px !important;
    border-radius: 0.5em;
    margin-right: 1em !important;
}

body [lang]:before {
    counter-increment: count4 !important;
    content: 'lang="' attr(lang) '"';
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 1px solid #398c12 !important;
    background-color: #398c12 !important;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    color: #fff !important;
}
