/*  Vérifier également les display:none; et visibility:hidden
Pour chaque contenu caché, vérifier que :

    * Soit le contenu caché a vocation à être ignoré par les technologies d’assistance (un élément statistique de visites par exemple) ;
    * Soit le contenu caché n’a pas vocation à être ignoré par les technologies d’assistance, et dans ce cas il est rendu restituable par les technologies d’assistance au moyen :
        * Soit d’une action de l’utilisateur réalisable au clavier ou par tout dispositif de pointage sur un élément précédent le contenu caché
        * Soit d’une fonction de programmation qui repositionne le focus sur le contenu.

*/

html {
    counter-reset: count count1;
}
body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 700 1.5rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "Attributs hidden : " counter(count) "\a" "Attributs aria-hidden : " counter(count1) "\a";
}

*[hidden] {
    counter-increment: count !important;
    border: red solid 4px !important;
}

*[aria-hidden="true"] {
    counter-increment: count1 !important;
    border: red dashed 4px !important;
}

*[aria-hidden="true"]::before {
    content: '[aria-hidden="true"]' !important;;
    color: #c40f0f !important;
    font-size: 0.875rem !important;
    display: block !important;
    background-color: #fefefe !important;
    padding: 0.25rem 0.5rem !important;
}
