/*  Nécessite une inspection de la page et du code

Une information donnée en gras, parce
qu’un onglet est surélevé quand il est actif,
parce que le mot-clé le plus utilisé est plus
gros dans un nuage de tags... sont autant
d’exemple qui rendent le critère applicable.
À relier au critère 3.1 sur l’information
donnée par la couleur.

Voir également les aria-label et attributs title

Pensez aux textes cachés pour signifier une différence ou une position.

*/

html {
    counter-reset: count;
}
body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "Aria-current : " counter(count) "\a";
}

*[aria-current] {
    counter-increment: count !important;
    border: green dashed 4px !important;
}

[aria-current]::before {
    content: "aria-current=" attr(aria-current) !important;
    display: inline-block;
    font-size: 0.875rem !important;
    font-weight: normal;
    line-height: 1 !important;
    color: #065106 !important;
    background: #e6ffe6 !important;
    text-transform: none !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
