/* on stabilote les liens sauf dans le header et le footer */

a {
    background-color: yellow;
    border-left: #d10101 dotted 2px;
    border-right: #d10101 dotted 2px;
}

header a,
footer nav a {
    background-color: inherit;
    border-left: inherit;
    border-right: inherit;
}
