/* Présence de fieldsets et mise en évidence visuelle
WIP
à revoir complètement !

 */

html {
	counter-reset: count3;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "<fieldset> sans <legend> : " counter(count3) "\a ";
}

/* comptage des fieldsets pas toujours fiable */


fieldset {
    border: 4px dashed #3fbe50 !important;
}

form fieldset > legend {
    border: 4px dashed #3f43be !important;
}

form fieldset > * > legend {
    border: 4px solid #e60835 !important;
}

form fieldset:not(:has(legend)) {
    counter-increment: count3 !important;
    border: 4px dotted #e60835 !important;
}

fieldset,
legend,
[role="group"] {
    display: block !important;
}

fieldset {
    border: 5px solid #0B1B34;
    padding: 0;
}
fieldset > :first-child:not(legend) {
    border: 5px solid #962E3F;
}

fieldset:after,
[role="group"]:after,
legend:before {
    display: block;  
    font-family: sans-serif !important;
    font-size: 1rem !important;
    color: #fff !important;
    background: #0B1B34;
    padding: 5px;
}

legend {
    background: #fff;
    width: 100%;
    color: #0B1B34;
    border: 2px solid #0B1B34;
    padding: 0;
}

legend:before {
    content: '<legend>' !important;
}

fieldset:after {
    content: '<fieldset>' !important;
}

fieldset[role] {
    border: 5px solid #962E3F;
}
fieldset[role]:after {
    content: '<fieldset role="'attr(role)'">' !important;
    background: #962E3F;
    color: #FFF;
}
fieldset[role="group"] {
    border: 5px solid #0B1B34;
}
fieldset[role="group"]:after {
    background: #0B1B34;
}

legend[role] {
    border: 2px solid #962E3F;
}
legend[role]:before {
    content: '<legend role="'attr(role)'">' !important;
    background: #962E3F;
    color: #fff;
}

[role="group"] {
    border: 5px solid #962E3F;
    padding: 0;
}
[role="group"][aria-label],
[role="group"][aria-labelledby] {
    border: 5px solid #0B1B34;
}
[role="group"]:after {
    content: 'role="group" [PAS DE LÉGENDE]' !important;
    background: #962E3F;
}
[role="group"][aria-label]:after {
    content: 'role="group" aria-label="'attr(aria-label)'"' !important;
    background: #0B1B34;
}
[role="group"][aria-labelledby]:after {
    content: 'role="group" aria-labelledby="'attr(aria-labelledby)'"' !important;
    background: #0B1B34;
}
