/* on compte et on met en évidence tous les boutons qui sont éligibles c'est à dire dans la balise form.

*/
html {
	counter-reset: count;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "Form > button : " counter(count) "\a";
}

form {
    border: #108800 solid 4px !important;
}

form:has(button) button,
form:has(input) input[type="submit"],
form:has(input) input[type="button"] {
    counter-increment: count !important;
    border: #d10830 dashed 4px !important;
}
