html {
    counter-reset: list-ul list-ol list-dl;
}

body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1.5rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem ;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "<ul> : " counter(list-ul) "\a <ol> : " counter(list-ol) "\a <dl> : " counter(list-dl) "\a" ;
}

ul,
[role="list"] {
    border: 2px #095312 dashed !important;
    counter-increment: list-ul !important;
}

ol {
    border: 2px #220e6f dashed !important;
    counter-increment: list-ol !important;
}

dl {
    border: 2px #e833de dashed !important;
    counter-increment: list-dl !important;
}

ul::before,
ol::before,
dl::before,
[role="list"]::before {
    content: "<ul>" !important;
    font-size: 0.875rem !important;
    background: #70d970 !important;
    color: black !important;
    display: inline-block !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

ul::before {
    content: "<ul>" !important;
}

[role="list"]::before {
    content: "<ul> ARIA" !important;
}

ol::before {
    content: "<ol>" !important;
    background: #b4c6f1 !important;
}

dl::before {
    content: "<dl>" !important;
    background: #e2aae8 !important;
}

ul li,
ol li,
dl dt,
dl dd,
[role="list"] [role="listitem"]{
    border: 2px #358a24 dashed !important;
}