/* Présence de labels et d'inputs */

html {
	counter-reset: count1 count2 count3 count4 count5;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "<input> : " counter(count1) "\a <select> : " counter(count5) "\a <label> : " counter(count2) "\a ------------------------------- \a <label> sans [for] : " counter(count3) "\a <label> implicite : " counter(count4) "\a";
}

input,
textarea {
	counter-increment: count1 !important;
    border: 4px dotted #398c12 !important;
}
select {
	counter-increment: count5 !important;
    border: 4px dotted #148c12 !important;
}
input:not([title]):not([id]):not([type="button"]):not([type="submit"]),
textarea:not([title]):not([id]),
select:not([title]):not([id]) {
    border: 4px dashed #db0b2f !important;
}
label {
    counter-increment: count2 !important;
}
form:not(:has(label[for])) {
    counter-increment: count3 !important;
}
form label:has(input):before,
form label:has(textarea):before,
form label:has(select):before{
    counter-increment: count4 !important;
    content: 'Implicit label';
    border: 4px solid #398c12 !important;
    background: rgba(246, 255, 0, .5);
    color: black;
}
form label:has(input:not([title]):not([id])) input {
    border: 1px solid #666 !important;
}

