html {
	counter-reset: count;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "[autocomplete] : " counter(count) "\a";
}


/* on aimerait faire apparaître les valeurs d'autocomplete mais pas de :before sur les input */

input[autocomplete],
textarea[autocomplete] {
    border: blue dashed 4px !important;
    counter-increment: count !important;
}


