/* On fait apparaître tout ce qui est prévu pour les personnes aveugles, attention ce n'est pas exhaustif ni utilisable pour tout projet */

i, .fa, .icon, .mat-icon, .sr-only, .is-sr-only, .visuallyhidden , .visually-hidden { 
    all: initial !important;
    border: 5px #a823af dashed !important;
}
