/* Présence des balises de structure de page header, nav, main, footer

*/

html {
	counter-reset: fails nav header main footer;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "Balises structurantes :\a" counter(header) " header\a" "" counter(nav) " nav\a" "" counter(main) " main ou role main\a" "" counter(footer) " footer\a";
}

/* NC */

body:not(:has(header)) {
    counter-increment: fails;
    border: 4px dashed #be3f55 !important;
}
body:not(:has(nav)) {
    counter-increment: fails;
    border: 4px dashed #be3f55 !important;
}
body:not(:has(main)):not(:has([role="main"])) {
    counter-increment: fails;
    border: 4px dashed #be3f55 !important;
}
body:not(:has(footer)) {
    counter-increment: fails;
    border: 4px dashed #be3f55 !important;
}


/* C */

header {
    border: 4px dashed green !important;
    counter-increment: header;
}
nav {
    border: 4px dashed #200ecf !important;
    counter-increment: nav;
}
main,
[role="main"] {
    border: 4px dashed #6c7ce8 !important;
    counter-increment: main;
}
footer {
    border: 4px dashed green !important;
    counter-increment: footer;
}