html {
    counter-reset: count;
}

body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1.5rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem ;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "Titres : " counter(count) "\a";
}

/* on fait apparaître les balises div et sémantiques vides */

h1,
h2,
h3,
h4,
h5,
h6 {
    border: 3px rgba(255, 0, 0, 0.5) solid !important;
    border-radius: 0.5rem;
    counter-increment: count !important;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before,
[role="heading"]::before {
    content: "<h2>" !important;
    font-size: 1rem !important;
    background: rgba(255, 0, 0, 0.5) !important;
    color: black !important;
    display: inline-block !important;
    font-weight: normal !important;
    text-transform: none !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

h1::before {
    content: "<h1>" !important;
}

[role="heading"][aria-level="1"]::before {
    content: "<h1> ARIA" !important;
}

h2::before {
    content: "<h2>" !important;
}

[role="heading"][aria-level="2"]::before {
    content: "<h2> ARIA" !important;
}

h3::before {
    content: "<h3>" !important;
}

[role="heading"][aria-level="3"]::before {
    content: "<h3> ARIA" !important;
}

h4::before {
    content: "<h4>" !important;
}

[role="heading"][aria-level="4"]::before {
    content: "<h4> ARIA" !important;
}

h5::before {
    content: "<h5>" !important;
}

[role="heading"][aria-level="5"]::before {
    content: "<h5> ARIA" !important;
}

h6::before {
    content: "<h6>" !important;
}

[role="heading"][aria-level="6"]::before {
    content: "<h6> ARIA" !important;
}