/* Identification des images et des alt manquants, utiliser l'extension webdevelopper pour vérifier le contenu des alts car impossible à injecter en CSS : la balise img est une balise de remplacement et ne permet d'ajouter des ::before ou des ::after */
html {
	counter-reset: count1 count2 count3 count4 count5;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1.5rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
    overflow: auto;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "<img> ... : " counter(count1) "\a <svg> --- : " counter(count2) "\a <figure> __ : " counter(count4) "\a lien image - - - : " counter(count5) "\a alt absent : " counter(count3) "\a";
}

img[src] {
    counter-increment: count1 !important;
    border: #068611 dotted 3px !important;
}

svg {
    counter-increment: count2 !important;
    border: #3902ff dashed 3px !important;
}

img:not([alt]):not([title]):not([aria-labelledby]):not([aria-label]):not([aria-hidden]):not([role="presentation"]) {
    counter-increment: count3 !important;
    border-color: #a80606 !important;
    display: block !important;
    margin: 1rem !important;
}

svg[role="img"]:not([aria-labelledby]):not([aria-label]):not(:has(title)):not([aria-hidden="true"]) {
    counter-increment: count3 !important;
    border-color: #a80606 !important;
    display: block !important;
    margin: 1rem !important;
}

figure {
    counter-increment: count4 !important;
    border: #1106a8 solid 3px !important;
}

figure img:not([alt]):not([title]):not([aria-labelledby]):not([aria-label]):not([aria-hidden]):not([role="presentation"]) {
    border-color: #a80606 !important;
}

a img[src][alt],
a img[src][title],
a svg {
    counter-increment: count5 !important;
    border: 1px dashed #737373 !important;
}

a:has(img)::before,
a:has(svg)::before {
    content: 'a > img' !important;
    color: #fff !important;
    background-color: #737373 !important;
    font-size: 0.75rem !important;
    display: inline-block !important;
    font-weight: normal !important;
    text-transform: none !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

a:has(svg)::before {
    content: 'a > svg' !important;
}

a:has(figure)::before {
    content: 'a > figure' !important;
}