/* On affiche les roles pour identifier des motifs de conception

*/

/* message */
[role]::before {
    background-color: #0f6d2a !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

/* roles hors landmarks et autres roles qui ne concernent pas les scripts */
[role]:not(:is([role="banner"],[role="search"],[role="navigation"],[role="main"],[role="contentinfo"]))::before {
    content: 'role="'attr(role)'"' !important;
}