/* On affiche les landmarks et on entoure en rouge si absent

*/

html {
	counter-reset: banner navi search main contentinfo;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: counter(banner) ' role="banner"\a' counter(navi) ' role="navigation"\a' counter(search) ' role="search"\a' counter(main) ' role="main"\a' counter(contentinfo) ' role="contentinfo"\a';
}

/* NC */
nav[aria-label] {
    counter-increment: countn !important;
    border: 4px dashed #be693f !important;
}
header:has(:not(nav[aria-label])) {
    border: 4px dashed #d5030a !important;
}
/* NC */

body:not(:has(header[role=banner])) {
    border: 4px dashed #be3f55 !important;
}
body:not(:has(main[role=main])) {
    border: 4px dashed #be3f55 !important;
}
body:not(:has(footer[role=contentinfo])) {
    counter-increment: count !important;
    border: 4px dashed #be3f55 !important;
}

/* C */
body:has(header[role=banner]) {
    border: 4px dashed green !important;
}
header:has(nav[aria-label]) {
    border: 4px dashed #1803d5 !important;
}
body:has(main[role=main]) {
    border: 4px dashed green !important;
}
body:has(footer[role=contentinfo]) {
    border: 4px dashed green !important;
}

/* message */
[role]:before {
    background-color: green !important;
    color: #fff;
    font-size: 0.875rem;
    padding: 0.2rem 0.25rem;
}

[role="banner"] {
    counter-increment: banner;
}

[role="banner"]:before {
    content: 'role="'attr(role)'"' !important;
}

header:before {
    content: '<header ! landmark absent !>' !important;
    background-color: #c80404 !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    padding: 0.2rem 0.25rem !important;
}

header[role="banner"]:before {
    content: '<header role="'attr(role)'">' !important;
    background-color: green !important;
}

[role="search"] {
    counter-increment: search;
}

[role="search"]:before {
    content: 'role="'attr(role)'"' !important;
}

[role="navigation"]:before {
    content: 'role="'attr(role)'"' !important;
    counter-increment: navi;
}

nav:before {
    content: '<nav ! landmark absent !>'!important;
    background-color: #c80404 !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    padding: 0.2rem 0.25rem !important;
}

nav[role="navigation"]:before {
    content: '<nav role="'attr(role)'">' !important;
}

[role="main"] {
    counter-increment: main;
}

[role="main"]:before {
    content: 'role="'attr(role)'"' !important;
}

main:before {
    content: '<main ! landmark absent !>' !important;
    background-color: #c80404 !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    padding: 0.2rem 0.25rem !important;
}

main[role="main"]:before {
    content: '<main role="'attr(role)'">' !important;
    background-color: green !important;
}

[role="contentinfo"] {
    counter-increment: contentinfo;
}

[role="contentinfo"]:before {
    content: 'role="'attr(role)'"' !important;
}

footer:before {
    content: '<footer ! landmark absent !>' !important;
    background-color: #c80404 !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    padding: 0.2rem 0.25rem !important;
}

footer[role="contentinfo"]:before {
    content: '<footer role="'attr(role)'">' !important;
    background-color: green !important;
}

