/* Mise en évidence des structures de tableaux
*/
html {
	counter-reset: count;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1.5rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "<table> : " counter(count) "\a";
}

table {
	counter-increment: count !important;
    border: green dashed 4px !important;
    position: relative;
}

table td{
    outline: #008000 dotted 1px ;
}

table th {
    outline: #003580 dashed 1px ;
}


/* y a-t-il un caption pour donner un résumé ? */
table:has(caption)::before {
    content: '<caption> présent ';
    background-color: #0fb;
    color: #000;    
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

/* on met en évidence les th et le paramétrage */
th::before {
    content: '<th scope="' attr(scope) '">';
    background-color: #fd0;
    color: #000;    
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

th[scope]::before {
    content: '<th scope="' attr(scope) '">';
    background-color: #fd0;
}

th[headers]::before {
    content: '<th headers="' attr(headers) '">';
    background-color: #fe0;
}

th:not([scope])::before {
    content: '<th>';
    display: inline-block;
    font-size: 0.875rem !important;
    line-height: 1 !important;
    background-color: #ffd000 !important;
    color: #000 !important;
}

/* tableau de présentation : vérifier qu'il n'y pas de caption et th */
table[role="presentation"]::before {
    content: '<table role="' attr(role) '">';
    background: #c0e68e;
}
table[role="presentation"] caption::before {
    content: '😡 <caption>';
    background-color: #fe0;
    color: #d4153b;
}
table[role="presentation"] th::before {
    content: '😡 <th>';
    background-color: #fe0;
    color: #d4153b;
}
table:not([presentation]):not(thead) > tr:first-child > td::before,
table:not([presentation]) > thead > tr > td::before,
table:not([presentation]):not(thead) > tbody > tr:first-child > td::before{
    content: "<td>";   
    display: inline-block;
    font-size: 0.875rem !important;
    line-height: 1 !important;
    background-color: #d70404 !important;
    color: #fff !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}
table:not([presentation]) thead + tbody > tr:first-child > td::before {
    content: '';
    display: none;
}