/*  utiliser également le validateur pour analyser les obsolescences 
    https://validator.w3.org/
    TODO : faire apparaître les balises et attributs exacts dans le volet de gauche
*/

html {
    counter-reset: count count1 count2 count3;
}
body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "Balises obsoletes : " counter(count) "\a" "Attributs obsoletes : " counter(count1) "\a"  "width : " counter(count2) "\a" "height : " counter(count3) "\a";
}

blink,
center,
font,
marquee,
s,
strike,
tt,
big {
    counter-increment: count !important;
    display: block !important;
    border: red solid 4px !important;
}

*[align],
*[alink],
*[background],
*[bgcolor],
*[border],
*[cellpadding],
*[cellspacing],
*[char],
*[charoff],
*[clear],
*[compact],
*[color],
*[frameborder],
*[hspace],
*[link],
*[marginheight],
*[marginwidth],
*[text],
*[valign],
*[vlink],
*[vspace],
*[size] {
    counter-increment: count1 !important;
    border: red dashed 4px !important;
}
*:not(img):not(object):not(embed):not(canvas):not(svg):not(path):not(rect)[width] {
    counter-increment: count2 !important;
    border: #0dc300 dashed 4px !important;
    display: block !important;
}
*:not(img):not(object):not(embed):not(canvas):not(svg):not(path):not(rect)[height] {
    counter-increment: count3 !important;
    border: #ff7b00 dashed 4px !important;
    display: block !important;
}