html {
	counter-reset: countq countb;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "Citations <q> : " counter(countq) "\a" "Blocs de citation : " counter(countb) "\a" ;
}


/* on fait apparaître les balises q et blockquote */

q::before {
    content: "<q>";
    font-size: 1.25rem !important;
    background: rgba(255, 0, 0, 0.5);
    color: black;
    display: inline-block;
    counter-increment: countq !important;
}

blockquote::before {
    content: "<blockquote>";
    font-size: 1.25rem !important;
    background: rgba(0, 255, 170, .5);
    color: black;
    display: block;
    counter-increment: countb !important;
}


