/* Détecte des liens vers des fichiers de bureautique mais vérifier également s'il existe des fichiers via des fonctions JavaScript que ce style ne pourra pas détecter ! */

html {
   counter-reset:  
                    doc
                    docx
                    xls
                    xlsx
                    ppt
                    pptx
                    odt
                    ods
                    pdf;
}

body::after {
    background-color: #333;
    bottom: 1em;
    color: #D3E8EE;
    font: 400 1.5rem/1.5 sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    left: 1em;
    padding: 0.75rem 1rem;
    position: fixed;
    right: auto;
    top: auto;
    width: auto;
    white-space: pre;
    z-index: 2147483647;
    content: "" counter(doc) " doc\A"
            "" counter(docx) " docx\A"
			"" counter(xls) " xls\A"
			"" counter(xlsx) " xlsx\A"
			"" counter(ppt) " ppt\A"
			"" counter(pptx) " pptx\A"
			"" counter(odt) " odt\A"
			"" counter(ods) " ods\A"
			"" counter(pdf) " pdf\A";
}

a[href$=".doc"],
a[href$=".docx"],
a[href$=".xls"],
a[href$=".xlsx"],
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".odt"],
a[href$=".ods"],
a[href$=".pdf"] {
    display: block!important;
    margin-bottom: 3px!important;
    outline: 5px solid #e61111!important;
}

[href$=".doc"] {counter-increment: doc;}
[href$=".docx"]{counter-increment: docx;}
[href$=".xls"] {counter-increment: xls;}
[href$=".xlsx"] {counter-increment: xlsx;}
[href$=".ppt"] {counter-increment: ppt;}
[href$=".pptx"] {counter-increment: pptx;}
[href$=".odt"] {counter-increment: odt;}
[href$=".ods"] {counter-increment: ods;}
[href$=".pdf"] {counter-increment: pdf;}

