html {
	counter-reset: count title notitle;
}
body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1.5rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "<iframe> : " counter(count) "\a <iframe title> __ : " counter(title) "\a<iframe> sans nom accessible --- : " counter(notitle) "\a";
}

iframe:not([aria-hidden="true"]) {
    counter-increment: count !important;
}

iframe:not([title]):not([aria-label]):not([aria-labelledby]):not([aria-hidden="true"]) {
    counter-increment: notitle !important;
    border: red dashed 4px !important;
}

iframe[title]:not([aria-hidden="true"]) {
    counter-increment: title !important;
    border: green solid 4px !important;
    display: block !important;
}

*:has(> iframe[title]:not([aria-hidden="true"]))::before {
    content: "Attribut title présent" !important;
    display: inline-block;
    font-size: 0.875rem !important;
    line-height: 1 !important;
    color: green !important;
    background-color: #fff !important;
}

*:has(> iframe[aria-label]:not([aria-hidden="true"]))::before {
    content: "Attribut aria-label présent" !important;
    display: inline-block;
    font-size: 0.875rem !important;
    line-height: 1 !important;
    color: green !important;
    background-color: #fff !important;
}
