html {
	counter-reset: lien title label nohref;
}

body::after {
	background-color: #333;
	bottom: 1em;
	color: #D3E8EE;
	font: 400 1rem/1.5 sans-serif;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	left: 1em;
	padding: 0.75rem 1rem ;
	position: fixed;
	right: auto;
	top: auto;
	width: auto;
	white-space: pre;
	z-index: 2147483647;
	content: "Balises <a> : " counter(lien) "\a a[title]> : " counter(title) "\a a[aria-label]> : " counter(label) "\a Balises <a> sans href : " counter(nohref) "\a ";
}

a[href] {
    padding-bottom: 2px;
    border-bottom: blue solid 3px !important;
    counter-increment: lien !important;
    box-shadow: inset 0px -2px 0px 0px #FFF;
}

a[href][title]::before {
    content: '[title="' attr(title) '"]⤵' !important;;
    background-color: rgba(0, 0, 255, 0.7) !important;
    counter-increment: title !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    display: block !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

a[href][aria-label]::before {
    content: '[aria-label="' attr(aria-label) '"]⤵' !important;;
    background-color: rgba(8, 89, 42, .7) !important;
    counter-increment: label !important;
    color: #fff !important;
    font-size: 0.875rem !important;
    display: block !important;
    border-radius: 0.25rem;
    padding: 0.125rem;
    margin-right: 0.25rem;
}

a:not([href]) {
    border: #c60303 dashed 2px !important;
    counter-increment: nohref !important;
}

    